<?xml version="1.0"?>
<config>
    <modules>
        <KuafuSoft_ConditionalTerms>
            <version>1.0.0</version>
        </KuafuSoft_ConditionalTerms>
    </modules>
    <global>
        <helpers>
            <checkout>
                <rewrite>
                    <data>KuafuSoft_ConditionalTerms_Helper_Data</data>
                </rewrite>
            </checkout>
        </helpers>
        <blocks>
            <cterms>
                <class>KuafuSoft_ConditionalTerms_Block</class>
            </cterms>
            <adminhtml>
            	<rewrite>
            		<checkout_agreement_edit_form>KuafuSoft_ConditionalTerms_Block_Adminhtml_Checkout_Agreement_Edit_Form</checkout_agreement_edit_form>
            	</rewrite>
            </adminhtml>
            <checkout>
            	<rewrite>
            		<agreements>KuafuSoft_ConditionalTerms_Block_Checkout_Agreements</agreements>
            	</rewrite>
            </checkout>
        </blocks>
        <models>
            <cterms>
                <class>KuafuSoft_ConditionalTerms_Model</class>
                <resourceModel>cterms_mysql4</resourceModel>
            </cterms>
            <cterms_mysql4>
                <class>KuafuSoft_ConditionalTerms_Model_Mysql4</class>
            </cterms_mysql4>
            <checkout>
            	<rewrite>
            		<agreement>KuafuSoft_ConditionalTerms_Model_Checkout_Agreement</agreement>
            	</rewrite>
            </checkout>
        </models>
        <resources>
            <cterms_setup>
                <setup>
                    <module>KuafuSoft_ConditionalTerms</module>
                </setup>
            </cterms_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <KuafuSoft_ConditionalTerms before="Mage_Adminhtml">KuafuSoft_ConditionalTerms_Adminhtml</KuafuSoft_ConditionalTerms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <cterms>
                    <file>cterms.xml</file>
                </cterms>
            </updates>
        </layout>
    </adminhtml>
</config> 